<!-- <main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <h3 class="my-5">
          {{ updateUserId ? "Update user" : "User registration form" }}
        </h3>
        <div class="my-5">
          <form
            [formGroup]="userRegForm"
            (ngSubmit)="submitRegForm()"
            novalidate
          >
            <div *ngIf="name" class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                formControlName="name"
                [ngClass]="{ 'is-invalid': name.invalid && name.touched }"
              />
              <div
                *ngIf="name.invalid && name.touched"
                class="invalid-feedback"
              >
                Name is required and must start with an uppercase letter.
              </div>
            </div>

            <div *ngIf="age" class="form-group">
              <label for="age">Age</label>
              <input
                type="number"
                id="age"
                class="form-control"
                formControlName="age"
                [ngClass]="{ 'is-invalid': age.invalid && age.touched }"
              />
              <div *ngIf="age.invalid && age.touched" class="invalid-feedback">
                Age is required and must be between 0 and 120.
              </div>
            </div>

            <div *ngIf="married" class="form-group">
              <label for="married">Married</label>
              <input
                type="checkbox"
                id="married"
                class="form-check-input"
                formControlName="married"
              />
            </div>

            <div *ngIf="numberOfChildren" class="form-group">
              <label for="numberOfChildren">Number of Children</label>
              <input
                type="number"
                id="numberOfChildren"
                class="form-control"
                formControlName="numberOfChildren"
                [ngClass]="{
                  'is-invalid':
                    numberOfChildren.invalid && numberOfChildren.touched
                }"
              />
              <div
                *ngIf="numberOfChildren.invalid && numberOfChildren.touched"
                class="invalid-feedback"
              >
                Number of children is required and must be a non-negative
                number.
              </div>
            </div>

            <div *ngIf="startBudget" class="form-group">
              <label for="startBudget">Start Budget</label>
              <input
                type="number"
                id="startBudget"
                class="form-control"
                formControlName="startBudget"
                [ngClass]="{
                  'is-invalid': startBudget.invalid && startBudget.touched
                }"
              />
              <div
                *ngIf="startBudget.invalid && startBudget.touched"
                class="invalid-feedback"
              >
                Start budget is required and must be a non-negative number.
              </div>
            </div>

            <div *ngIf="monthlySalary" class="form-group">
              <label for="monthlySalary">Monthly Salary</label>
              <input
                type="number"
                id="monthlySalary"
                class="form-control"
                formControlName="monthlySalary"
                [ngClass]="{
                  'is-invalid': monthlySalary.invalid && monthlySalary.touched
                }"
              />
              <div
                *ngIf="monthlySalary.invalid && monthlySalary.touched"
                class="invalid-feedback"
              >
                Monthly salary is required and must be a non-negative number.
              </div>
            </div>

            <button
              class="btn btn-primary text-uppercase py-3"
              id="submitButton"
              type="submit"
              class="btn btn-primary"
              [disabled]="!userRegForm.valid"
            >
              {{ updateUserId ? "Update" : "Registrate" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main> -->
