<div
  class="container-fluid vh-100 main__bg d-flex align-items-center justify-content-center"
>
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-12">
      <h1 class="text-white fw-bold mb-3 text__shadow">
        Welcome to PROGbudget
      </h1>
      <h2 class="text-white text__shadow">We are your Budget's Friends!</h2>
      <h3 class="text-black">
        Track your transactions and budget as easily as clicking on a button
      </h3>
    </div>
    <div class="row pt-4">
      <div class="col-6">
        <button
          *ngIf="!(loggedInStatus$ | async); else loggedIn"
          (click)="navigateToLogin()"
          class="btn btn-warning"
          onclick=""
        >
          Login
        </button>
        <ng-template #loggedIn>
          <button class="btn btn-warning" routerLink="" (click)="logout()">
            Logout
          </button>
        </ng-template>
      </div>
      <div class="col-6">
        <button
          *ngIf="!(loggedInStatus$ | async); else updateIn"
          (click)="navigateToReg()"
          class="btn btn-warning"
          onclick=""
        >
          Registration
        </button>
        <ng-template #updateIn>
          <button (click)="updateUser()" class="btn btn-warning" onclick="">
            My data
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row justify-content-center align-items-center text-center m-3">
    <h6>© BudgetFriends 2024</h6>
  </div>
</footer>
