<div
  class="container-fluid vh-100 main__bg d-flex align-items-center justify-content-center"
>
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-12">
      <h1 class="text-white fw-bold mb-3">PROGBudget</h1>
      <h2 class="text-black">Welcome to PROGBudget!</h2>
      <h3 class="text-black">
        Track your trasactions and budget as easily as clicking on a button
      </h3>
    </div>
    <div class="row pt-4">
      <div class="col-6">
        <button class="btn btn-warning" onclick="">Login</button>
      </div>
      <div class="col-6">
        <button class="btn btn-warning" onclick="">Registration</button>
      </div>
    </div>
  </div>
</div>
