.d-flex.flex-column {
  width: 100%;
}
.form-select {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.icon-adjust {
  font-size: calc(1em + 1vw);
  margin-left: 8px;
}
