<!-- <div
  class="container-fluid vh-100 main__bg d-flex align-items-center justify-content-center"
>
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-12">
      <h2 class="text-white">Login to your</h2>
      <h1 class="text-white fw-bold mb-3">PROGBudget</h1>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <input class="form-control" placeholder="E-mail" type="text" />
    </div>
    <div class="col-12 col-md-6 mb-3">
      <input class="form-control" placeholder="Password" type="text" />
    </div>
    <div class="col-12">
      <button class="btn btn-warning">Login</button>
    </div>
  </div>
</div> -->

<div
  class="container-fluid vh-100 main__bg d-flex align-items-center justify-content-center"
>
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-12">
      <h2 class="text-white">Login to your</h2>
      <h1 class="text-white fw-bold mb-3">PROGBudget</h1>
    </div>
    <form [formGroup]="loginForm" class="col-12 col-md-6 mb-3">
      <div *ngIf="email">
        <input
          formControlName="email"
          class="form-control"
          id="email"
          type="email"
          placeholder="E-mail"
        />
      </div>
      <hr />
      <div *ngIf="password" class="col-12 mb-3">
        <input
          formControlName="password"
          class="form-control"
          type="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="col-12">
        <button
          [disabled]="loginForm.invalid"
          (click)="login()"
          class="btn btn-warning"
          id="loginButton"
          type="submit"
        >
          Login
        </button>
      </div>
      <p class="my-3 text-secondary">or login with</p>
      <button class="btn btn-danger" (click)="loginWithGoogle()">Google</button>
    </form>
  </div>
</div>

<!-- <main -->
class="container-fluid vh-100 main__bg d-flex align-items-center
justify-content-center" >
<!-- <div class="row justify-content-center align-items-center text-center">
    <div class="col-12">
      <h2 class="text-white">Login to your</h2>
      <h1 class="text-white fw-bold mb-3">PROGBudget</h1>
    </div>
    <form [formGroup]="loginForm" class="col-12 col-md-6 mb-3">
      <div *ngIf="email">
        <input
          formControlName="email"
          class="form-control"
          id="email"
          type="email"
          placeholder="E-mail"
        /> -->
<!-- <label for="email">Email address</label>
        <div *ngIf="email.invalid && email.touched" class="small text-danger">
          <span *ngIf="email.touched">An email is required.</span>
          <span *ngIf="email.invalid">Email is not valid.</span>
        </div> -->
<!-- </div>

      <div *ngIf="password" class="col-12 col-md-6 mb-3">
        <input
          formControlName="password"
          class="form-control"
          type="password"
          id="password"
          placeholder="Password" -->
/>
<!-- <label for="password">Password</label>
        <div
          *ngIf="password.invalid && password.touched"
          class="small text-danger"
        >
          A password is required.
        </div> -->
<!-- </div> -->

<!-- Submit Button -->
<!-- <div class="col-12">
        <button
          [disabled]="loginForm.invalid"
          (click)="login()"
          class="btn btn-warning"
          id="loginButton"
          type="submit"
        >
          Login
        </button>
      </div> -->

<!-- <button
      [disabled]="loginForm.invalid"
      (click)="registration()"
      class="btn btn-primary text-uppercase mt-2"
      id="regButton"
      type="submit"
    >
      Registration
    </button> -->

<!-- <p class="my-3 text-secondary">or login with</p>
      <button class="btn btn-danger" (click)="loginWithGoogle()">Google</button>
    </form>
  </div>
</main> -->
