<div class="fullscreen-svg-container">
  <img src="../../../assets/matrixBackground.svg" alt="Fullscreen SVG" />
  <div class="overlay">
    <article class="text">
      <h1>
        404 ERROR<br />THE MATRIX HAS COLLAPSED<br />Do you want to know... What
        it is?
      </h1>
    </article>
    <div class="buttons-flex">
      <img
        src="../../../assets/RedPill.png"
        alt="404"
        class="pill-img red"
        routerLink=""
      />
      <img
        src="../../../assets/BluePill.png"
        alt="404"
        class="pill-img blue"
        routerLink=""
      />
    </div>
  </div>
</div>
