<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid ps-lg-3">
    <div class="me-2" id="navbar__logo"></div>

    <a href="#" class="navbar-brand" routerLink="home-page">PROGbudget</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="registration"
            >Registration</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="users"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="transaction/transaction-reg"
            >New transaction</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="transaction/transaction-list"
            >My transactions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="budget"
            >Budget tracker</a
          >
        </li>
        <li
          *ngIf="!(loggedInStatus$ | async); else loggedIn"
          class="nav - item"
        >
          <a class="nav-link" routerLinkActive="active" routerLink="login"
            >Login</a
          >
        </li>
        <ng-template #loggedIn>
          <li class="nav-item">
            <a class="nav-link active" routerLink="" (click)="logout()">
              Logout
            </a>
          </li>
          <li *ngIf="userEmail$ | async" class="nav-item">
            <a class="nav-link active">Üdv: {{ userEmail$ | async }}</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand border border-black border-2" routerLink="home"
      >Alpha-team-FE-2024-FEB-Angular-Firebase</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fw-bold" routerLink="users_registration"
            >Users Registration</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold" routerLink="users_list"
            >Users List</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            >Transaction reg</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="transactions_list"
            >Transactions List</a
          >
        </li> 
       </ul>
    </div>
  </div>
</nav> -->
