#navbar__logo {
  width: 40px;
  height: 40px;
  background-image: url('../../../assets/pb_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1031;
  display: block;
}
.nav-link {
  cursor: pointer;
}
