<nav class="navbar navbar-expand-lg bg-dark-subtle fixed-top shadow">
  <div class="container-fluid ps-lg-3">
    <div
      class="me-2"
      id="navbar__logo"
    ></div>

    <a
      href="#"
      class="navbar-brand fw-bold"
      routerLink="home-page"
      >PROGbudget</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li
          *ngIf="!(loggedInStatus$ | async); else UpdateIn"
          class="nav-item"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="registration"
            >Registration</a
          >
        </li>
        <ng-template #UpdateIn>
          <li
            class="nav-item"
            *ngIf="loggedInStatus$ | async"
          >
            <a
              class="nav-link"
              routerLinkActive="active"
              (click)="updateUser()"
              >My data</a
            >
          </li>
        </ng-template>
        <li
          class="nav-item"
          *ngIf="(loggedInStatus$ | async) && (userRole$ | async) === 'user'"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="transaction-reg"
            >New transaction</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="(loggedInStatus$ | async) && (userRole$ | async) === 'user'"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="budget"
            >Budget tracker</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="(loggedInStatus$ | async) && (userRole$ | async) === 'admin'"
        >
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="users"
            >Users</a
          >
        </li>
        <li
          *ngIf="!(loggedInStatus$ | async); else loggedIn"
          class="nav-item"
        >
          <a
            class="nav-link fw-bold"
            routerLinkActive="active"
            routerLink="login"
            >Login</a
          >
        </li>
        <ng-template #loggedIn>
          <li
            class="nav-item"
            *ngIf="loggedInStatus$ | async"
          >
            <a
              class="nav-link fw-bold"
              (click)="logout()"
              >Logout:</a
            >
          </li>
          <li
            class="nav-item"
            *ngIf="loggedInStatus$ | async"
          >
            <a
              class="nav-link active"
              *ngIf="userEmail$ | async as userEmail"
              >{{ userEmail }}</a
            >
          </li>
        </ng-template>
      </ul>
      <div class="ms-auto">
        <app-button
          id="themeSwitcher"
          [icon]="faAdjust"
          [label]="'Switch color'"
          [buttonClass]="getButtonClasses()"
          (buttonClick)="toggleTheme()"
        ></app-button>
      </div>
    </div>
  </div>
</nav>
